NAME=Monitor-1
TYPE=Remote
FUNCTION=Modect
ENABLED=1
PROTOCOL=rtsp
METHOD=rtpRtsp
IP=192.168.1.10
PORT=554
PATH=user=admin&password=&channel=1&stream=0.sdp
SUBPATH=
OPTIONS=
USER=
PASS=
WIDTH=1280
HEIGHT=720
COLOURS=3
MAXFPS=25
ALARMMAXFPS=25
